// From https://cssloaders.github.io/

$m: 1.25;
.loader {
	font-size: $m* 48px;
	color: #FFF;
	width: $m*1em;
	height: $m* 1em;
	box-sizing: border-box;
	background-color: currentcolor;
	position: relative;
	border-radius: 50%;
	transform: rotateX(-60deg) perspective(1000px);

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		animation: flowerFlow 1s ease-out infinite;
	}

	&:after {
		animation-delay: .4s;
	}

}

@keyframes flowerFlow {
	0% {
		opacity: 1;
		transform: rotate(0deg);
		box-shadow: 0 0 0 - $m*.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor,
		0 0 0 $m*-.5em currentcolor;
	}
	100% {
		opacity: 0;
		transform: rotate(180deg);
		box-shadow: $m*-1em $m*-1em 0 $m*-.35em currentcolor,
		$m*0 $m*-1.5em 0 $m*-.35em currentcolor,
		$m*1em $m*-1em 0 $m*-.35em currentcolor,
		$m*-1.5em $m*0 0 $m*-.35em currentcolor,
		$m*1.5em $m*0 0 $m*-.35em currentcolor,
		$m*-1em $m*1em 0 $m*-.35em currentcolor,
		$m*0 $m*1.5em 0 $m*-.35em currentcolor,
		$m*1em $m*1em 0 $m*-.35em currentcolor;
	}
}
