<form class="" [formGroup]="form" (submit)="onSubmit()">
	<mat-card class="bg-gradient--cloudy-apple">
		<mat-card-title class="form-title">Register</mat-card-title>
		<app-loader *ngIf="isLoading$ | async; else formContent"></app-loader>
		<ng-template #formContent>
			<mat-card-content class="d-flex flex-column gap-2">
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Email</mat-label>
					<input
						matInput
						class="form-control rounded-pill"
						id="email"
						name="email"
						type="email"
						formControlName="email">
					<mat-error *ngIf="email.errors; let errors">
						<span *ngIf="errors['required']">Enter an email</span>
						<span *ngIf="errors['email']">Enter a valid email</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Password</mat-label>
					<input
						matInput
						class="form-control rounded-pill"
						id="password"
						name="password"
						type="password"
						formControlName="password">
					<mat-error *ngIf="password.errors; let errors">
						<span *ngIf="errors['required']">Enter a password</span>
						<span *ngIf="errors['minlength']">Enter a password longer than 6 characters</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Retype Password</mat-label>
					<input
						matInput
						class="form-control rounded-pill"
						id="password2"
						name="password2"
						type="password" formControlName="password2">
					<mat-error *ngIf="password2.errors; let errors">
						<span *ngIf="errors['required']">Retype the password</span>
						<span *ngIf="errors['minlength']">Retype a password longer than 6 characters</span>
						<span *ngIf="errors['passwordsMatch']">The passwords don't match</span>
					</mat-error>
				</mat-form-field>
				<div>
					<button
						mat-raised-button
						type="submit"
						class="bg-gradient--millennium-pine"
						[disabled]="!form.valid">
						Register
					</button>
					<br />
					<a
						type="submit"
						class="link-quaternary"
						routerLink="/auth/sign-in">Already have an account? Sign in instead!</a>
				</div>
			</mat-card-content>
		</ng-template>
	</mat-card>
</form>
