<form
	(submit)="onSubmit()"
	[formGroup]="recipeForm"
	class="form-card ng-bs-always-show-validation bg-gradient--desert-hump"
	ngNativeValidate>
	<div class="form-title">{{editMode ? "Edit recipe" : "Add a new recipe"}}</div>
	<div class="form">
		<div class="">
			<label class="form-label" for="name">Name of recipe</label>
			<input class="form-control rounded-pill" formControlName="name" id="name" type="text">
		</div>
		<div class="">
			<label class="form-label" for="description">Recipe description</label>
			<textarea class="form-control" formControlName="description" id="description"></textarea>
		</div>
		<div class="">
			<label class="form-label" for="imageUrl">Recipe image URL</label>
			<div class="row">
				<div class="col-lg-auto flex-grow-1 col-md-12 d-flex align-items-center">
					<input
						#imageUrl
						class="form-control rounded-pill"
						formControlName="imageUrl"
						id="imageUrl"
						type="text">
				</div>
				<div class="col-auto d-flex align-items-center m-1">
					<img [src]="imageUrl.value" class="img-thumbnail img-thumbnail-sized rounded-0">
				</div>
			</div>
		</div>
		<ul *ngIf="ingredientControls; let ings" class="list-group mt-3" formArrayName="ingredients">
			<li
				(click)="onAddIngredient()"
				[class.rounded-bottom-0]="ings.length !== 0"
				class="list-group-item btn btn-image bg-gradient--crystalline">
				Add new ingredient
			</li>
			<li
				*ngFor="let control of ings; let i = index"
				[formGroupName]="i"
				class="list-group-item">
				<div class="input-group rounded-bottom-0">
					<input
						class="form-control rounded-bottom-0"
						formControlName="name"
						id="ing-name"
						name="name"
						placeholder="Enter name"
						type="text">
					<button
						(click)="deleteIngredient(i)"
						class="btn btn-warning rounded-bottom-0"
						tabindex="-1"
						type="button">❌
					</button>
				</div>
				<div class="input-group rounded-0">
					<input
						class="form-control hide-arrows rounded-0"
						formControlName="quantity"
						name="quantity"
						placeholder="Number of"
						type="number"
					>
					<input
						class="form-control rounded-0"
						formControlName="quantityUnit"
						name="quantityUnit"
						placeholder="units"
						type="text"
					>
				</div>
				<div class="input-group rounded-top-0">
					<span class="input-group-text rounded-top-0">$</span>
					<input
						class="form-control rounded-top-0 hide-arrows"
						formControlName="cost"
						id="cost"
						name="cost"
						placeholder="Cost"
						step="0.01"
						type="number"
					>
				</div>
			</li>
		</ul>
	</div>
	<div class="form-footer d-flex flex-row flex-wrap gap-4">
		<button
			[disabled]="!recipeForm.valid"
			class="btn btn-image bg-gradient--february-ink rounded-pill"
			type="submit"
		>
			{{editMode ? "Edit" : "Add"}} recipe
		</button>
		<button
			(click)="onCancel()"
			class="btn btn-image bg-gradient-warning-danger rounded-pill"
			type="button"
		>
			Cancel
		</button>
	</div>
</form>
