<ul class="list-group bg-transparent">
	<li
		(click)="onClick(i)"
		*ngFor="let ingredient of ingredients; let i = index"
		[attr.data-ripple]="showClick?'y':null"
		class="list-group-item bg-transparent">
		<div class="media">
			<div class="media-body">
				{{ingredient.quantity[0]}} {{ingredient.quantity[1]}} of {{ingredient.name}}
			</div>
			<!--suppress HtmlRequiredAltAttribute -->
			<span class="text-monospace text-muted small">${{ingredient.cost.toFixed(2)}}</span>
		</div>
	</li>
</ul>
