<button
	mat-raised-button
	(click)="onAdd()"
	class="bg-gradient--palo-alto mat-round-img-btn"
>Add new ingredient
</button>
<hr>
<mat-list class="bg-gradient--orange-juice rounded mat-elevation-z2">
	<div *ngFor="let ingredient of (shoppingListState$ | async)?.ingredients; let i = index; let last = last">
		<mat-list-item
			(click)="onEditItem(i)"
			mat-ripple>
			<app-ingredient-details class="py-2" [ingredient]="ingredient"></app-ingredient-details>
		</mat-list-item>
		<mat-divider *ngIf="!last"></mat-divider>
	</div>
</mat-list>
