<div class="row-30 vw-100 justify-content-end -webkit-thin-scrollbar">
	<ng-template #content let-offcanvas>
		<app-sidenav (close)="offcanvas.dismiss()" [showClose]="true" class="offcanvas-body"></app-sidenav>
	</ng-template>

	<nav class="navbar navbar-expand-lg navbar-light bg-gradient--perfect-white topnav-sizing">
		<div class="container-fluid justify-content-start gap-2">
			<button
				(click)="open(content)"
				class="h5-imp btn btn-outline-dark text-wrap text-center fw-bold mx-0">
				<i class="fa-solid fa-bars"></i>
			</button>
			<a class="navbar-brand h5-imp text-wrap fw-bold mx-0" routerLink="/">
				<i class="fa-solid fa-kitchen-set h4"></i>
				Recipe book
			</a>
		</div>
	</nav>
	<div
		class="row sidenav-sizing align-self-stretch align-items-stretch vh-100 fixed-top scroll-y d-none shadow-lg">
		<app-sidenav class=""></app-sidenav>
	</div>
	<div
		class="row content-sizing d-flex justify-content-center"
	>
		<div class="col-lg-28 col-md-29 col-30 p-3 h-100">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
