@import "vars";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Grid has by default a left & right margin of -15, why???
.row {
	@include make-row(0px);
}

@each $i, $value in (
	1: $h1-font-size,
	2: $h2-font-size,
	3: $h3-font-size,
	4: $h4-font-size,
	5: $h5-font-size,
	6: $h6-font-size,
) {
	.h#{$i}-imp {
		font-size: $value !important;
	}
}

.font-small {
	@include font-size($font-size-sm);
}

.font-xs {
	@include font-size($font-size-sm*0.75);
}

.btn {
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-group, .navbar{
	box-shadow: $box-shadow;
}

@import "bs-row--split-into-30";
@import "bs-gradients";
@import "bs-btn-ripple";
@import "bs-with-colors";
@import "bs-form-card";
@import "bs-form-modal";
