@import "vars";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Grid has by default a left & right margin of -15, why???
.row {
	@include make-row(0px);
}

@each $i, $value in (
	1: $h1-font-size,
	2: $h2-font-size,
	3: $h3-font-size,
	4: $h4-font-size,
	5: $h5-font-size,
	6: $h6-font-size,
) {
	.h#{$i}-imp {
		font-size: $value !important;
	}
}

.font-small {
	@include font-size($font-size-sm);
}

.font-xs {
	@include font-size($font-size-sm*0.75);
}

.btn {
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-group, .navbar{
	box-shadow: $box-shadow;
}

.c-navbar-nav {
	// scss-docs-start navbar-nav-css-vars
	--#{$prefix}nav-link-padding-x: 0;
	--#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
	@include rfs($nav-link-font-size, --#{$prefix}nav-link-font-size);
	--#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
	--#{$prefix}nav-link-color: var(--#{$prefix}navbar-color);
	--#{$prefix}nav-link-hover-color: var(--#{$prefix}navbar-hover-color);
	--#{$prefix}nav-link-disabled-color: var(--#{$prefix}navbar-disabled-color);
	// scss-docs-end navbar-nav-css-vars

	display: flex;
	flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	.dropdown-menu {
		position: static;
	}
}

@import "bs-row--split-into-30";
@import "bs-gradients";
@import "bs-btn-ripple";
@import "bs-with-colors";
@import "bs-form-card";
@import "bs-form-modal";
