/* Color Theme Swatches in Hex */
$Colorful-1-hex: #FF938F;
$Colorful-2-hex: #CB8AFA;
$Colorful-3-hex: #96C1FA;
$Colorful-4-hex: #91FAC9;
$Colorful-5-hex: #FFE575;

/* Color Theme Swatches in RGBA */
$Colorful-1-rgba: rgba(255, 147, 143, 1);
$Colorful-2-rgba: rgba(203, 138, 250, 1);
$Colorful-3-rgba: rgba(150, 193, 250, 1);
$Colorful-4-rgba: rgba(145, 250, 201, 1);
$Colorful-5-rgba: rgba(255, 229, 117, 1);

/* Color Theme Swatches in HSLA */
$Colorful-1-hsla: hsla(2, 100%, 78%, 1);
$Colorful-2-hsla: hsla(274, 91%, 76%, 1);
$Colorful-3-hsla: hsla(214, 90%, 78%, 1);
$Colorful-4-hsla: hsla(152, 91%, 77%, 1);
$Colorful-5-hsla: hsla(48, 100%, 72%, 1);
