.img-thumbnail-sized {
	max-height: 100px;
}

.popover-no-pad {
	& .popover-body {
		@extend .p-0;
	}
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.scroll-y {
	overflow-y: scroll;
	overflow-y: overlay;
}
