// From https://webgradients.com/
// 062 Wide Matrix Right
@include define-gradient(
		gradient--wide-matrix--right,
		rgb(0, 0, 0, 255),
		linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%),
		color-contrast(rgb(0, 0, 0, 255)),
		rgb(0, 0, 0, 255),
);

// 162 Perfect White (Circular)
@include define-gradient(
		gradient--perfect-white--circular,
		#f1f2f8,
		radial-gradient(circle farthest-side at bottom, #E3FDF5 0%, #FFE6FA 100%),
		color-contrast(#f1f2f8),
		#f1f2f8,
);

.img-thumbnail-sized {
	max-height: 60px;
}

.popover-no-pad {
	& .popover-body {
		@extend .p-0;
	}
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.scroll-y {
	overflow-y: scroll;
	overflow-y: overlay;
}

$smallest-size-nav: md;

.topnav-sizing {
	@extend .d-#{$smallest-size-nav}-none, .d-flex;
}

.sidenav-sizing {
	@extend .col-xl-3, .col-lg-4, .col-md-5, .col-20, .d-#{$smallest-size-nav}-flex, .d-none;
}

.content-sizing {
	@extend .col-xl-27, .col-lg-26, .col-md-25, .col-30;
}

.nav-link-with-icon {
	@extend .d-flex,
	.flex-#{$smallest-size-nav}-column,
	.flex-row,
	.gap-#{$smallest-size-nav}-0,
	.gap-2,
	.align-items-center,
	.text-center,
	.w-100;
}

.sidenav-links-padding .mat-list-item-content {
	@extend .p-2;
}

// Firefox displays a blue border around :focus-visible links: disable this
a:focus-visible {
	outline: none;
}
