@use "sass:math";
@import "../../node_modules/bootstrap/scss/mixins/banner";

@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "colors";

// Flags switches and basic config
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$container-max-widths: (
	sm: 720px,
	md: 960px,
	lg: 1200px,
	xl: 1320px,
	xxl: 1440px,
);

// Match material design specifications
$grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 960px,
	lg: 1280px,
	xl: 1920px,
);

$font-line-height-multiplier: 1.4;
$headings-line-height-multiplier: 1.2;
$headings-line-height: $headings-line-height-multiplier;

$line-height-base: $font-line-height-multiplier;
$line-height-sm: math.div($font-line-height-multiplier, 1.2);
$line-height-lg: math.div($font-line-height-multiplier, 0.75);

$font-size-base: 1em;
$display-1-font-size: 5em;
$display-2-font-size: 4.5em;
$display-3-font-size: 4em;
$display-4-font-size: 3.5em;
$display-5-font-size: 3em;
$display-6-font-size: 2.5em;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.95;
$font-size-sm: $font-size-base * .8;
$font-size-lg: $font-size-base * 1.25;
$code-font-size: 95%;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;

$border-radius-sm: 3px;
$border-radius: 4px;
$border-radius-lg: 5px;
$border-radius-xl: 10px;
$border-radius-2xl: 20px;
$border-radius-pill: 50rem;
