@use "sass:math";
@import 'colorful-adobe-theme';

// Flags switches and basic config
// -------------------------------------------------------
// $card-box-shadow
// -------------------------------------------------------
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$container-max-widths: (
	sm: 720px,
	md: 960px,
	lg: 1200px,
	xl: 1440px
);

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 785px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// Modified Solarized background
$body-bg: #fcf7eb;
//$primary: #ff9f80;
//$secondary: $Colorful-3-hex;
$primary: $Colorful-3-hex;
$secondary: $Colorful-2-hex;
$tertiary: #fca98b;
$quaternary: #ffc0cb;
$success: $Colorful-4-hex;
$info: #8beffc;
$warning: $Colorful-5-hex;
$danger: $Colorful-1-hex;
$light: #ebf7f2;
$dark: #262626;
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"quaternary": $quaternary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
);
$body-color: $dark;
$code-color: cornflowerblue;
$link-color: darken($primary, 15%);
$link-hover-color: darken($link-color, 20%);
$component-active-bg: #007bff;
$input-bg: $light;
$input-focus-border-color: lighten($component-active-bg, 25%);
$table-border-color: #808080;

$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .25rem .5rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);
$card-box-shadow: $box-shadow-sm;
$btn-box-shadow: $box-shadow;

// Prefer more black text on light backgrounds
$yiq-contrasted-threshold: 125;

// Level by which the color is increased
$alert-bg-level: -6;
$alert-border-level: $alert-bg-level + 2;
$alert-color-level: $alert-border-level + 15;
$table-bg-level: -5;
$table-border-level: $table-bg-level - 4;

// Font sizes and families
$font-size-base: 1.15rem;
$font-size-sm: 1.05rem;
$font-size-lg: $font-size-base * 1.25;
$code-font-size: 105%;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;

// Border Radii
$custom-checkbox-indicator-border-radius: 5px;
$border-radius-lg: 22px;
$border-radius: math.div($border-radius-lg * 0.25, 0.3);
$border-radius-sm: math.div($border-radius-lg * 0.2, 0.3);
$border-width: 1px;

$breadcrumb-divider: quote(">");

$dropdown-padding-y: 1rem;

$nav-link-font-weight: 400;
