<div *ngIf="recipe != null" class="card-group bg-gradient--deep-light-blue rounded">
	<div class="card bg-transparent">
		<img
			[src]="recipe.imageUrl"
			class="card-img-top"
		>
		<div
			(click)="toggleIngredients()"
			[class.rounded-bottom]="!areIngredientsShown"
			class="card-header h4 add-bg-noise"
			data-target="#ingredients"
			data-toggle="collapse"
			data-ripple
		>
			{{buttonText}}
			Ingredients
		</div>
		<app-ingredient-list
			[ingredients]="recipe.ingredients"
			[class.collapse]="!areIngredientsShown"
			[showClick]="false"
			id="ingredients"
		></app-ingredient-list>
	</div>
	<div class="card bg-transparent">
		<div class="card-header h4 add-bg-noise">{{recipe.name}}</div>
		<div class="card-body">
			<p>{{recipe.description}}</p>
			<div class="dropdown">
				<button
					class="btn btn-image bg-gradient--angel-care dropdown-toggle rounded-pill"
					data-bs-toggle="dropdown">
					Manage recipe
				</button>
				<ul class="dropdown-menu">
					<li (click)="addIngredientsToShoppingList()" class="dropdown-item">Add to shopping list</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item" routerLink="edit">Edit</li>
					<!-- --bg-auto btn btn-image bg-gradient-warning-danger-->
					<li class="dropdown-item" (click)="deleteRecipe()">Delete</li>
				</ul>
			</div>
		</div>
	</div>
</div>
