<form ngForm #form="ngForm" (ngSubmit)="onSubmit(form)">
	<mat-card class="bg-gradient--soft-grass">
		<mat-card-title>Sign in</mat-card-title>
		<app-loader *ngIf="isLoading$ | async; else formContent"></app-loader>
		<ng-template #formContent>
			<mat-card-content class="d-flex flex-column gap-2">
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Email</mat-label>
					<input
						#email="ngModel"
						matInput
						class="rounded-pill"
						id="email"
						name="email"
						type="email"
						required
						email
						ngModel>
					<mat-error *ngIf="email.errors; let errors">
						<span *ngIf="errors['required']">Enter an email</span>
						<span *ngIf="errors['email']">Enter a valid email</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Password</mat-label>
					<input
						matInput
						#password="ngModel"
						class="form-control rounded-pill"
						id="password"
						name="password"
						type="password"
						required
						minlength="6"
						ngModel>
					<mat-error *ngIf="password.errors; let errors">
						<span *ngIf="errors['required']">Enter a password</span>
						<span *ngIf="errors['minlength']">Enter a password longer than 6 characters</span>
					</mat-error>
				</mat-form-field>
				<div>
					<button
						mat-raised-button
						type="submit"
						class="bg-gradient--millennium-pine"
						[disabled]="!form.valid">Sign in
					</button>
					<br />
					<a
						type="submit"
						class="link-quaternary"
						routerLink="/auth/register">Don't have an account? Register now!</a>
				</div>
			</mat-card-content>
		</ng-template>
	</mat-card>
</form>
