<div *ngIf="showClose" class="d-flex w-100 justify-content-end">
	<button (click)="close.emit()" class="btn-close" type="button"></button>
</div>
<div class="container-fluid flex-column">
	<a class="navbar-brand h5-imp text-wrap text-center fw-bold mx-0" routerLink="/">
		<i class="fa-solid fa-kitchen-set h3"></i><br />
		Recipe book
	</a>
	<div>
		<ul class="nav c-navbar-nav nav-pills mr-auto flex-column font-small">
			<li class="nav-item" *ngIf="isLoggedIn">
				<a class="nav-link nav-link-with-icon" routerLink="/recipes" routerLinkActive="active" data-ripple>
					<div class="fa-solid fa-bowl-food h5"></div>
					Recipes
				</a>
			</li>
			<li class="nav-item">
				<a
					class="nav-link nav-link-with-icon"
					routerLink="/shopping-list"
					routerLinkActive="active"
					data-ripple>
					<div class="fa-solid fa-cart-shopping h5"></div>
					Shopping list
				</a>
			</li>
			<li>
				<a
					class="nav-link nav-link-with-icon"
					routerLink="/auth/register"
					routerLinkActive="active"
					data-ripple
					*ngIf="!isLoggedIn">
					<div class="fa-solid fa-user-plus h5"></div>
					Register
				</a>
			</li>
			<li>
				<a
					class="nav-link nav-link-with-icon"
					routerLink="/auth/sign-in"
					routerLinkActive="active"
					data-ripple
					*ngIf="!isLoggedIn">
					<div class="fa-solid fa-sign-in h5"></div>
					Sign in
				</a>
			</li>
			<li>
				<a
					class="nav-link nav-link-with-icon"
					data-ripple
					(click)="signOut()"
					*ngIf="isLoggedIn">
					<div class="fa-solid fa-sign-out h5"></div>
					Sign out
				</a>
			</li>
			<ng-template #manageDropEnd>
				<div class="dropdown-menu show position-relative">
					<button (click)="saveData()" class="dropdown-item" type="button">Save data</button>
					<button (click)="fetchData()" class="dropdown-item" type="button">Fetch data</button>
				</div>
			</ng-template>
			<li class="nav-item dropend" *ngIf="isLoggedIn">
				<a
					[ngbPopover]="manageDropEnd"
					class="nav-link d-flex flex-row"
					container="body"
					placement="end"
					popoverClass="popover-no-pad"
					role="button"
					data-ripple>
					<div class="nav-link-with-icon">
						<div class="fa-solid fa-users-gear h5"></div>
						<div>Manage</div>
					</div>
					<div class="my-auto">
						<i class="fa-solid fa-caret-right"></i>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
